.Modal {
  z-index: 2;
  height: 140px;
  width: 280px;
  background-color: white;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 130px;
}
.Backdrop {
  z-index: 1;
  background-color: rgba(128,128,128, 0.7);
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}
.Description {
  color: black;
  margin-top: 26px;
  margin-bottom: 12px;
}
.OkayButton {
  background-color:#3b5998;
  color: white;
  height: 36px;
  width: 82px;
  border-radius: 18px;
  align-self: center;
  font-weight: bold;
  font-size: 16px;
}