.Bar {
  min-width: 800px;
  width: 98%;
  background-color: white;
  display: flex;
  flex-direction: row;
  height: 64px;
}
.BarContainer {
  margin-top: 2px;
  margin-bottom: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Logo {
  margin-left: 6px;
  width: 120px;
  height: 100%;
}
/* .Left {
  float: left;
  display: flex;
  flex-direction: row;
  align-items: center;
} */
.Title {
  margin: 0 auto;
  align-self: center;
  width: 120px;
}
.Right {
  float: right;
  display: flex;
  flex-direction: row;
}