.Button {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  background-color: darkgray;
  height: 100%;
  text-align: center;
  width: 100px;
  margin-right: 6px;  
  margin-left: 6px;
}
.Label {
  margin: 0 auto;
  align-self: center;
  font-size: 22px;
}