.Container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
.Login {
  background-color: white;
  width: 300px;
  height: 200px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 16px;
}
.SignupError {
  background-color: white;
  width: 300px;
  height: 260px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 16px;
}
.NameContainer {
  width: 100%;
  margin-bottom: 6px;
}
.NameLabel {
  margin-left: 6px; 
}
.NameInput {
  position: relative;
  width: 180px;
  margin-left: 30px;
}
.CompanyContainer {
  width: 100%;
  margin-top: 6px;
}
.CompanyLabel {
  margin-left: 6px;
}
.CompanyInput {
  position: relative;
  width: 180px;
  margin-left: 4px;
}
.EmailContainer {
  width: 100%;
}
.EmailLabel {
  margin-left: 6px;
}
.EmailInput {
  position: relative;
  width: 180px;
  margin-left: 34px;
}
.PasswordContainer {
  margin-top: 6px;
  width: 100%;
}
.PasswordLabel {
  margin-left: 6px;
}
.PasswordInput {
  position: relative;
  width: 180px;
  margin-left: 4px;
}
.PasswordContainer2 {
  margin-top: 6px;
  width: 100%;
}
.PasswordLabel2 {
  margin-left: 6px;
}
.PasswordInput2 {
  position: relative;
  width: 180px;
  margin-left: 4px;
}
.SubmitButton {
  margin-top: 24px;
  width: 100px;
}
.Error {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: red;
}
.XButton {
  margin-right: 6px;
  color: red; 
}